<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163501202164-k88mbivkgggsusl5sfaj6csr7kgc66hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163501202164-k88mbivkgggsusl5sfaj6csr7kgc66hg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163501202164-cqq6g4d2444i2e3gnu4f8ha0r0k91v65.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLdh6nVGShnt1JgAkVQzqRlwHtc90ba9s</string>
	<key>GCM_SENDER_ID</key>
	<string>163501202164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.powerecommerce.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>blublestore-e530e</string>
	<key>STORAGE_BUCKET</key>
	<string>blublestore-e530e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163501202164:ios:79fcba6bdba53a964c1ca1</string>
</dict>
</plist>